*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    height: 70px;
    width: 100%;
    background-color: rgb(207, 144, 144);
    color: white;
    font-size: 54px;
    text-align: center;
}

.nav-links
{
     height: 70px;
    width: 100%;
    background-color: rgb(207, 144, 144);
    color: white;
    font-size: 30px;
    text-align: center;
     display: flex;
    align-items: center;
    justify-content: space-around;


}

.nav-links a{
    text-decoration:underline;
    color: white;
   
   
   
}

h1{
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;
}

h2{
    padding-top: 40px;
    text-align: center;

}

.color-sw{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

#grey{
    height: 100px;
    width: 100px;
 background-color: gray;
    border: 2px solid black;
     display: flex;
    align-items: center;
    justify-content: center;
        color: white;
    font-size: 19px;

}
#red{
      height: 100px;
    width: 100px;
  background-color: rgb(109, 33, 33);
     border: 2px solid black;
      display: flex;
    align-items: center;
    justify-content: center;
        color: white;
    font-size: 19px;
    
}
#yellow{
      height: 100px;
    width: 100px;
    background-color:yellow;
     border: 2px solid black;
      display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    
}
#green{
      height: 100px;
    width: 100px;
    background-color: green;
     border: 2px solid black;
      display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 19px;
    
}

#purple{
      height: 100px;
    width: 100px;
    background-color: purple;
     border: 2px solid black;
      display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 19px;
    
}

.bmi{
    padding-left: 140px;
    padding-top: 40px;
    display: flex;
    align-items: center;
     justify-content: center;
    flex-direction: column;
}
#btn{
    height: 30px;
    width: 130px;
    font-size: 18px;
    
    
}

#result{
    text-align: center;
    font-size: 24px;
    color: white;
}

.contact-section{
height:700px;
width:100%;
background-image:linear-gradient(rgba(29,22,22,0.345),rgba(29,22,22,0.345)),url("cont.jpg");
background-size:cover;
display:flex;
align-items:center;
justify-content:center;
background-attachment:fixed;
}
.contact-section form h1{
text-align:center;
padding-bottom:60px;
color:white;
}


.contact-section form{ 
backdrop-filter:blur(5px);
height:480px; 
width:40%;
display:flex;
justify-content:center;
/* border-radius:5px; */
box-shadow: 0 0 0  0.2px;
flex-direction:column;
border:2px solid white;

}


.contact-section input{
background-color:transparent;
height:40px;
width:80%;
margin-left:33px;
margin-bottom:20px;
 border-radius:10px; 
border:1px solid white;
font-size:20px;
color: white;



}
.contact-section label{
    font-size: 20px;
    color: white;
    padding-left: 40px;
    padding-bottom: 5px;
}
.contact-section .btn{
    height: 40px;
width:80%;
margin-left:30px;
border-radius:15px;
margin-bottom: 10px;


color:black;
}
.contact-section .btn:hover{
background-color:transparent;
color:white;



}
